ion-header ion-toolbar {
  --min-height: 40px;
}

ion-header ion-toolbar:first-child {
    padding-top: var(--padding-top,0);
}

.sc-ion-card-ios-h {
  margin-top: 4px;
}

.preview-image {
  max-height: 100px;
  width: 100%;
  object-fit: cover;
}